.about {
  font-weight: inherit;

  @media (min-width: $desktop-width) {
    padding-top: 150px;
    padding-bottom: 151px;
  }

  @media (max-width: $pre-desktop-width) {
    padding-top: 36px;
    padding-bottom: 69px;
  }

  @media (max-width: $pre-tablet-width) {
    padding-top: 35px;
    padding-bottom: 78px;
  }

  .container {
    @media (min-width: $desktop-width) {
      width: 80.9722%;
      max-width: 1166px;
    }

    @media (max-width: $pre-desktop-width) {
      width: 72.3958%;
    }

    @media (max-width: $pre-tablet-width) {
      width: 90.625%;
    }
  }

  h2 {
    @include zero-edges;
    @include common-text-style-kit;
    @include heading-text-style-kit;
    text-align: center;

    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
    }

    @media (max-width: $pre-desktop-width) {
      margin-bottom: 30px;
    }
  }
}

.about__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-auto-rows: min-content;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.259%;
    row-gap: 50px;
  }

  @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5.3957%;
    row-gap: 40px;
  }

  @media (max-width: $pre-tablet-width) {
    @include column-flex;
  }
}

.about__item {
  @include column-flex;
  @include content-text-style-kit;
  font-weight: inherit;

  @media (max-width: $pre-tablet-width) {
    font-size: 18px;
    width: 90.6897%;
  }

  &:not(:first-child) {
    @media (max-width: $pre-tablet-width) {
      margin-bottom: 45px;
    }

    &::before {
      @media (max-width: $pre-tablet-width) {
        margin-bottom: 9px;
      }
    }
  }

  &:first-child {
    @media (max-width: $pre-tablet-width) {
      margin-bottom: 38px;
    }
  }

  &:last-child {
    @media (max-width: $pre-tablet-width) {
      margin-bottom: 0;
    }
  }

  &::before {
    content: attr(data-number);
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    color: $mcg-1;
    letter-spacing: -1.27273px;

    display: block;
    width: 100%;
    height: min-content;
    margin-bottom: 15px;

    @media (max-width: $pre-desktop-width) {
      margin-bottom: 17px;
    }
  }
}
