.video {
  color: $lcg-1;
  letter-spacing: -0.005em;
  background-color: $dcg-9;

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, $dcg-9 87.7%, $lcg-1 87.7%);
  }

  @media (max-width: $pre-desktop-width) {
    background-image: linear-gradient(to bottom, $dcg-9 83%, $lcg-1 83%);
  }

  @media (max-width: $pre-tablet-width) {
    background-image: linear-gradient(to bottom, $dcg-9 88.6%, $lcg-1 88.6%);
  }

  .container {
    @media (min-width: $desktop-width) {
      width: 64.5139%;
      max-width: 929px;
      padding-top: 120px;
    }

    @media (max-width: $pre-desktop-width) {
      width: 65.4948%;
      padding-top: 70px;
    }

    @media (max-width: $pre-tablet-width) {
      width: 90%;
      padding-top: 84px;
    }
  }

  h2 {
    @include common-text-style-kit;
    color: inherit;

    margin-top: 0;
    margin-bottom: 20px;

    @media (max-width: $pre-desktop-width) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: inherit;
    letter-spacing: inherit;
    opacity: 0.7;

    @include centering-margin;
    margin-top: 0;

    @media (min-width: $desktop-width) {
      width: 36.5985%;
      margin-bottom: 56px;
    }

    @media (max-width: $pre-desktop-width) {
      width: 85.2883%;
      margin-bottom: 40px;
    }

    @media (max-width: $pre-tablet-width) {
      width: 100%;
      margin-bottom: 52px;
    }
  }

  h2,
  p {
    text-align: center;
  }
}

.video__figure {
  position: relative;
  margin: 0;

  img {
    @include content-in-padded-box;
  }
}

.video__padded-box {
  @include padded-box;

  @media (min-width: $desktop-width) {
    padding-bottom: $ratio-huge;
  }

  @media (max-width: $pre-desktop-width) {
    padding-bottom: $ratio-middle;
  }

  @media (max-width: $pre-tablet-width) {
    padding-bottom: $ratio-little;
  }
}

.video__play-button {
  background-color: $mcg-1;

  @include absolute-centering;
  @include centering-flex;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;

  @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
    width: 90.36px;
    height: 90.36px;
  }

  svg {
    --icon-color: #{$dcg-10};

    transform: translateX(2px);

    @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
      width: 18.07px;
      height: 25.3px;
      transform: translateX(3px);
    }
  }

  &:hover,
  &:focus {
    background-color: $mcg-3;
  }

  &:active {
    background-color: $lcg-1;

    svg {
      --icon-color: #{$mcg-1};
    }
  }
}
