.general-block {
  background-color: $dcg-2;
  letter-spacing: inherit;

  @media (min-width: $desktop-width) {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-auto-rows: min-content;

    @include background-properties;
    background-image: $general-bg-large;

    @media (min-resolution: 2dppx) {
      background-image: $general-bg-large-2x;
    }

    @include centering-margin;
    // @include centering-padding(61.1111%);
    padding-top: 316px;
    padding-bottom: 240px;
  }

  @media (max-width: $pre-desktop-width) {
    // @include column-flex;
    padding: 0;
    background-color: $lcg-1;
    background-image: none;
  }

  form {
    @media (min-width: $desktop-width) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      justify-self: end;
      margin-left: 10%;
    }

    @media (max-width: $pre-desktop-width) {
      width: 42.6294%;
      max-width: 321px;
    }

    @media (max-width: $pre-tablet-width) {
      width: 90%;
      min-width: 288px;
    }
  }

  button[type="submit"] {
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
    letter-spacing: -0.02em;
    min-height: 51px;
    border: none;
    background-color: $mcg-1;

    @media (min-width: $desktop-width) {
      width: 325px;
      padding: 2px 47px 1px 48px;
    }

    @media (max-width: $pre-desktop-width) {
      width: 100%;
      padding: 12px 21px;
      margin-bottom: 35px;
    }

    @media (max-width: $pre-tablet-width) {
      padding: 8px 19px 11px 17px;
    }

    @include button-hover-focus;

    &:active {
      color: $lcg-1;
    }
  }

  .container {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: min-content;
      width: 61.1111%;
      max-width: 880px;
    }

    @media (max-width: $pre-desktop-width) {
      @include column-flex;
      width: 100%;
    }

    @media (max-width: $pre-tablet-width) {
      width: 100%;
    }
  }
}

.general-block__wrapper {
  @media (max-width: $pre-desktop-width) {
    @include column-flex;
    // @include centering-padding(94.53125%);
    width: 100%;
    padding-left: 2.734375%;
    padding-right: 2.734375%;
    padding-top: 25px;
    padding-bottom: 81px;
    margin-bottom: 70px;

    background-color: $lcg-4;
    background-image: $general-bg-medium;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: $general-bg-medium-2x;
    }
  }

  @media (max-width: $pre-tablet-width) {
    padding-top: 23px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 71px;
    margin-bottom: 70px;
    background-image: $general-bg-small;

    @media (min-resolution: 2dppx) {
      background-image: $general-bg-small-2x;
    }
  }

  p {
    @media (max-width: $pre-tablet-width) {
      width: 100%;
      text-align: center;
    }
  }
}

.general-block__logo {
  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 20px;
  }

  @media (max-width: $pre-desktop-width) {
    align-self: flex-start;
    margin-bottom: 76px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 64px;
  }
}

.general-block__leading-paragraph {
  @include zero-edges;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: $lcg-1;

  @media (min-width: $desktop-width) {
    font-size: 46px;
    line-height: 64px;
    margin-bottom: 24px;
  }

  @media (max-width: $pre-desktop-width) {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
    transform: translateX(5px);
  }
}

.general-block__explanation {
  @include zero-edges;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: inherit;
  color: $lcg-1;
  opacity: 0.8;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    width: 80%;
  }

  @media (max-width: $pre-desktop-width) {
    font-size: 18px;
    width: 60%;
    text-align: center;
  }
}

.general-block__form-content-box {
  @include column-flex;

  @media (min-width: $desktop-width) {
    width: 327px;
  }

  input,
  button[type="submit"] {
    border-radius: 6px;
  }
}

.general-block__proposition {
  @include zero-edges;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: inherit;
  text-align: center;

  @media (min-width: $desktop-width) {
    justify-self: end;
    font-size: 17px;
    color: $lcg-1;
    width: 327px;
    padding-top: 5px;
    margin-bottom: 21px;
  }

  @media (max-width: $pre-desktop-width) {
    font-size: 18px;
  }

  @media (max-width: $pre-desktop-width) and (min-width: $tablet-width) {
    margin-bottom: 29px;
  }

  @media (max-width: $pre-tablet-width) {
    margin-bottom: 20px;
  }
}

.general-block__input-wrapper {
  width: 100%;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 18px;
  }

  label {
    @include visually-hidden;
  }

  input {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: normal;
    width: 100%;
    border: 1px solid $lcg-3;

    @media (min-width: $desktop-width) {
      padding: 14px 29px 8px;
    }

    @media (max-width: $pre-desktop-width) {
      padding: 12px 21px;
    }

    @media (max-width: $pre-tablet-width) {
      padding: 13px 19px 11px 26px;
    }

    &:hover,
    &:focus {
      @media (min-width: $desktop-width) {
        box-shadow: 0 0 10px $lcg-1;
      }

      @media (max-width: $pre-desktop-width) {
        border-color: $dcg-1;
      }
    }

    &:active {
      @media (min-width: $desktop-width) {
        box-shadow: 0 0 10px $mcg-1;
      }

      @media (max-width: $pre-desktop-width) {
        box-shadow: 0 0 10px $dcg-1;
      }
    }
  }
}
