.navigation {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 50%;
    width: 60.6597%;
    max-width: 873.5px;
    transform: translateX(-50%);
    background-color: transparent;
    border-bottom: 1px solid $lcg-2;
  }

  @media (max-width: $pre-desktop-width) {
    position: static;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 138px;
    background-color: $lcg-1;
    border-bottom: none;
  }

  &--js {
    @include absolute-top-right;
    width: min-content;
    height: min-content;
  }

  &--opened {
    @media (max-width: $pre-desktop-width) {
      width: 100%;
      min-height: 100vh;
      z-index: 1;
    }
  }
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $desktop-width) {
    padding: 21px 21px 9px 19px;
  }

  @media (max-width: $pre-desktop-width) {
    flex-direction: column;
  }
}

.navigation__item {
  &:not(:last-child) {
    @media (min-width: $desktop-width) {
      margin-right: auto;
    }

    @media (max-width: $pre-desktop-width) {
      margin-bottom: 30px;
    }
  }

  @media (max-width: $pre-desktop-width) {
    margin-right: 0;
    background-color: $lcg-5;
  }
}

.navigation__link {
  @include link-base-style;

  @media (min-width: $desktop-width) {
    font-weight: 300;
    color: $lcg-1;
    opacity: 0.7;
  }

  @media (max-width: $pre-desktop-width) {
    font-size: 20px;
    line-height: 28px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 23px 15px 16px;

    color: $dcg-4;
    opacity: 1;
  }

  &::after {
    @media (max-width: $pre-desktop-width) {
      @include background-properties;
      content: "";
      display: block;
      width: 8px;
      height: 12px;
      background-image: $arrow-right;
    }
  }

  &:hover,
  &:focus {
    @media (min-width: $desktop-width) {
      opacity: 1;
    }

    @media (max-width: $pre-desktop-width) {
      color: $dcg-1;
    }
  }
}

.navigation__toggle {
  @media (max-width: $pre-desktop-width) {
    @include absolute-top-right;
    margin: 0;
    padding: 10px 10px 6px;
    border: none;
    background-color: $mcg-1;
  }

  &--cross {
    @media (max-width: $pre-desktop-width) {
      padding-top: 14px;
      padding-right: 14px;
      padding-left: 14px;
      background-color: transparent;
    }
  }

  .navigation__cross-svg {
    --icon-color: #{$dcg-8};
  }

  @include button-hover-focus;

  &:active {
    .navigation__burger-svg {
      --icon-color: #{$lcg-1};
    }

    .navigation__cross-svg {
      --icon-color: #{$mcg-5};
    }
  }
}
