html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include zero-edges;

  font-family:
    "OpenSans",
    "Arial",
    sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    min-content,
    1fr,
    min-content;

  min-height: 100vh;
  min-width: $mobile-width;
  background-color: $lcg-1;
  color: $dcg-1;
}

header {
  background-color: $dcg-3;
  letter-spacing: -0.005em;
}

header > *,
main > *,
footer > * {
  max-width: $content-max-width;
}

button {
  cursor: pointer;
}

.visually-hidden {
  @include visually-hidden;
}

.modal-open {
  overflow: hidden;
}

.list {
  @include zero-edges;
  list-style: none;
}
