@mixin outline($color) {
  outline: 1px dashed $color;
  outline-offset: -1px;
}

//-------------------------------

@mixin visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

@mixin zero-edges {
  margin: 0;
  padding: 0;
}

@mixin centering-margin {
  margin-right: auto;
  margin-left: auto;
}

@mixin centering-padding($contentwidth) {
  padding: 0 calc(50% - #{$contentwidth} / 2);
}

@mixin column-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin centering-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centering-grid {
  display: grid;
  place-items: center;
}

@mixin all-columns {
  grid-column-start: 1;
  grid-column-end: -1;
}

@mixin one-track {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

@mixin shift-to-left($value) {
  margin-left: $value;
  margin-right: 0;
}

@mixin shift-to-right($value) {
  margin-right: $value;
  margin-left: 0;
}

@mixin button-hover-focus {
  &:hover,
  &:focus {
    background-color: $mcg-2;
  }
}

@mixin absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
