// viewports
$desktop-width: 1024px;
$pre-desktop-width: 1023px;
$tablet-width: 768px;
$pre-tablet-width: 767px;
$mobile-width: 320px;

// body width limits
$body-max-width: 1440px;
$body-min-width: $mobile-width;

// lcg (light colors' group)
$lcg-1: #ffffff;

// mcg (middle colors' group)

// dcg (dark colors' group)
$dsg-1: #000000;
