// viewports
$desktop-width: 1024px;
$pre-desktop-width: 1023px;
$tablet-width: 768px;
$pre-tablet-width: 767px;
$mobile-width: 320px;

// width limit
$content-max-width: 1440px;

// lcg (light colors' group)
$lcg-1: #ffffff;
$lcg-2: rgba(255, 255, 255, 0.2);
$lcg-3: #c9ccd4;
$lcg-4: #272727;

// mcg (middle colors' group)
$mcg-1: #0ad9c6;
$mcg-2: #7beee2;

// dcg (dark colors' group)
$dcg-1: #000000;
$dcg-2: #1c1c1c;
$dcg-3: #0e0e0e;
$dcg-4: #48494d;
$dcg-5: #f6f6f6;

// bg
// nav
$arrow-right: url("../img/decor/arrow-right.svg");

// general-block
$general-bg-large: url("../img/bg/general-bg-large.jpg");
$general-bg-large-2x: url("../img/bg/general-bg-large@2x.jpg");

$general-bg-medium: url("../img/bg/general-bg-medium@2x.jpg");
$general-bg-medium-2x: url("../img/bg/general-bg-medium@2x.jpg");

$general-bg-small: url("../img/bg/general-bg-small@2x.jpg");
$general-bg-small-2x: url("../img/bg/general-bg-small@2x.jpg");
